{% extends "layout.html" %}
{% block content %}

    <h1>Accueil</h1>
	<hr class="divider">

      <table class="table table-striped table-bordered">
         <thead>
            <td>id</td>
            <td>Titre</td>
            <td>Identifiant</td>
            <td>Auteur</td>
            <td>Date de publication</td>
            <td>Paragraphe</td>
         </thead>


            <tr>
               <td>{{ article["id"] }}</td>
               <td>{{ article["titre"] }}</td>
               <td>{{ article["identifiant"] }}</td>
               <td>{{ article['auteur'] }}</td>
               <td>{{ article["date_publication"] }}</td>
               <td>{{ article['paragraphe' ]}}</td>
            </tr>

      </table>



  <h1>Artistes</h1>
  {% if not titres %}
    <p>Aucun id d'article.</p>
  {% else %}
    <ul>
      {% for titre in titres %}
          <li>{{ titre }}</li>
      {% endfor %}
    </ul>
  {% endif %}

    {{ titres }}

{% endblock %}
