{% extends "layout.html" %}
{% block titre %}Ajouter un article - CMS{% endblock %}
{% block content %}

    <h1>Ajouter un article</h1>
    <hr class="divider">

    <form method="post" action="/admin-form-new" enctype="multipart/form-data">
        {% if erreur_titre and erreur_titre != "" %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ erreur_titre }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="titreidf" class="sr-only">Titre:</label>
            <input name="titre" type="text" id="titreidf" onchange="onTitreChange()" class="form-control" placeholder="Titre" value="{{ titre }}">
        </div>
        {% if erreur_ident and erreur_ident != "" %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ erreur_ident }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="identifiantidf" class="sr-only">Identifiant:</label>
            <input name="identifiant" type="text" id="identifiantidf" class="form-control" placeholder="Identifiant" value="{{ identifiant }}">
        </div>
        {% if erreur_auteur and erreur_auteur != "" %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ erreur_auteur }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="auteuridf" class="sr-only">Auteur:</label>
            <input name="auteur" type="text" id="auteuridf" class="form-control" placeholder="Auteur" value="{{ auteur }}">
        </div>
        {% if erreur_date %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ erreur_date }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="date_publicationidf" class="sr-only">Date de publication:</label>
            <input name="date_publication" type="text" id="date_publicationidf" class="form-control" placeholder="Date de publication" value="{{ date }}">
        </div>
        {% if erreur_paragraphe and erreur_paragraphe != "" %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ erreur_paragraphe }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="paragrapheidf" class="sr-only">Paragraphe:</label>
            <textarea name="paragraphe" id="paragrapheidf" class="form-control" placeholder="Paragraphe...">{{ paragraphe }}</textarea>
        </div>
        <div class="row text-right" style="margin-right: 10px;">
            <input type="reset" value="Annuler" class="btn btn-danger"/>
            <input type="submit" value="Ajouter" class="btn btn-primary"/>
{#            <button onclick="sendPays()" class="btn btn-primary">Ajouter</button>#}
        </div>
        <button onclick="sendPays();">Créer</button>
    </form>

{% endblock %}