{% extends "layout.html" %}
{% block titre %}Ajouter un admin - CMS{% endblock %}
{% block content %}

    <h1>Ajouter un admin </h1>
    <hr class="divider">

    <div class="row contacts">
        <div class="col-xs-12 col-md-12">
            <form class="connection" action="/admin-add-user-new" method="post">
                <h3>Entrer le courriel:</h3>

                {% if erreur_email and erreur_email != "" %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ erreur_email }}
                    </div>
                {% endif %}

                {% if email_sent and email_sent != "" %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ email_sent }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="courriel" class="sr-only">Courriel: </label>
                    <input name="courriel" type="email" id="courriel" class="form-control" placeholder="Courriel" value="{{ courriel }}" required>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary" value="Ajouter" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}
