{% extends "layout.html" %}
{% block titre %}Connexion - CMS{% endblock %}
{% block content %}

    <h1>Connexion : </h1>
    <hr class="divider">


{% if username %}
<p>Vous êtes connecté en tant que {{ username }}.</p>
<p><a href="/logout">Se déconnecter</a></p>
{% else %}



    <div class="row contacts">
        <div class="col-xs-12 col-md-12">
            <form class="connection" action="/login" method="post">
                <h3 class="anim-login-titre">Connectez-vous:</h3>
                <div class="form-group anim-login">
                    <label for="username" class="sr-only">Username</label>
                    <input name="username" type="text" id="username" class="form-control" placeholder="Courriel" required> <!-- pattern=".{1,}@.*inf2005\.ca"-->
                </div>
                <div class="form-group anim-login">
                    <label for="password" class="sr-only">Mot de Passe</label>
                    <input name="password" type="password" id="password" class="form-control" placeholder="Mot de Passe" required> <!-- pattern="[a-zA-Z0-9]{8,16}" -->
                </div>
                <div class="form-group anim-login">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me">
                            Se sourvenir de moi </label>
                    </div>
                </div>
                <div class="form-group anim-login">
                    <input type="submit" class="btn btn-lg btn-primary" value="Se Connecter" />
                </div>
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}
