{% extends "layout.html" %}
{% block titre %}Invite - CMS{% endblock %}
{% block content %}

    <h1>Invite </h1>
    <hr class="divider">

    <div class="row contacts">
        <div class="col-xs-12 col-md-12">
            <form class="connection" action="/invite-add-user" method="post">
                <h3>Inscription:</h3>

                {% if erreur_user_same and erreur_user_same != "" %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ erreur_user_same }}
                    </div>
                {% endif %}

                {% if erreur_user and erreur_user != "" %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ erreur_user }}
                    </div>
                {% endif %}

                {% if erreur_pass and erreur_pass != "" %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ erreur_pass }}
                    </div>
                {% endif %}

                {% endif %}

                {% if user_added and user_added != "" %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ user_added }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="username" class="sr-only">Votre username: </label>
                    <input name="username" type="text" id="username" class="form-control" placeholder="Nom d'utilisateur" value="{{ user }}" required>
                </div>

                <div class="form-group">
                    <input name="courriel-form" type="hidden" id=courriel-form" class="form-control" value="{{ email }}">
                    <label for="courriel" class="sr-only">Votre courriel: </label>
                    <input name="courriel" type="email" id="courriel" class="form-control" value="{{ email }}" required disabled>
                </div>

                <div class="form-group">
                    <label for="password" class="sr-only">Mot de passe: </label>
                    <input name="password" type="password" id="password" class="form-control" placeholder="Mot de passe" required>
                </div>

                <div class="form-group">
                    <label for="password-repeat" class="sr-only">Répéter le mot de passe: </label>
                    <input name="password-repeat" type="password" id="password-repeat" class="form-control" placeholder="Répéter le mot de passe" required>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary" value="S'inscire" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}
