{% extends "layout.html" %}
{% block titre %}Reset password - CMS{% endblock %}
{% block content %}

    <h1>Modifier </h1>
    <hr class="divider">




    <div class="row contacts">
        <div class="col-xs-12 col-md-12">
            <form class="connection" action="/nouveau-password-update" method="post">
                <h3>Modifier votre mot de passe:</h3>

                {% if erreur_pass_same and erreur_pass_same != "" %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ erreur_pass_same }}
                    </div>
                {% endif %}

                {% if erreur_pass_short and erreur_pass_short != "" %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ erreur_pass_short }}
                    </div>
                {% endif %}

                {% if erreur_pass_long and erreur_pass_long != "" %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ erreur_pass_long }}
                    </div>
                {% endif %}

                {% if pass_modif and pass_modif != "" %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ pass_modif }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <input name="courriel-form" type="hidden" id=courriel-form" class="form-control" value="{{ email }}">
                    <label for="courriel" class="sr-only">Votre courriel: </label>
                    <input name="courriel" type="text" id="courriel" class="form-control" value="{{ email }}" required disabled>
                </div>

                <div class="form-group">
                    <label for="password" class="sr-only">Nouveau mot de passe: </label>
                    <input name="password" type="password" id="password" class="form-control" placeholder="Nouveau mot de passe" required>
                </div>

                <div class="form-group">
                    <label for="password-repeat" class="sr-only">Répéter le mot de passe: </label>
                    <input name="password-repeat" type="password" id="password-repeat" class="form-control" placeholder="Répéter le mot de passe" required>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary" value="Modifier" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}
