{% extends "layout.html" %}
{% block titre %}Reset password - CMS{% endblock %}
{% block content %}

    <h1>Connexion : </h1>
    <hr class="divider">




    <div class="row contacts">
        <div class="col-xs-12 col-md-12">
            <form class="connection" action="/reset" method="post">
                <h3 class="anim-login-titre">Demande de changement de votre mot de passe:</h3>

                {% if erreur_no_email and erreur_no_email != "" %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ erreur_no_email }}
                    </div>
                {% endif %}

                {% if email_sent and email_sent != "" %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ email_sent }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="courriel" class="sr-only">Votre courriel: </label>
                    <input name="courriel" type="text" id="courriel" class="form-control" placeholder="Courriel" value="{{ courriel }}" required> <!-- pattern=".{1,}@.*inf2005\.ca"-->
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary" value="Envoyer" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}
